.TITLE {
    color: white;
   float: left;
   font-size: 550%;
   font-weight: bold;
}

.aboutDiv {
    background-color: white;
}

.aDemetro {
    font-size: 35px;
}

.aboutCardLeft {
    color: black;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;
}
.aboutCardRight {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}


.aboutText {
    padding: 5px;
    font-size: 1em;
    
}

.certImg {
    width: 100%;
    
}

.certImg:hover {
    opacity: 0.7;
}

.viewPortText {
    color: black;
   font-size: 220%;
   padding: 20px;
   text-align: center;
   margin-bottom: 5px;
   border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.viewPortText:hover {
    opacity: 0.7;
}

