.TITLE {
    color: white;
   float: left;
   font-size: 550%;
   font-weight: bold;
}


.aboutCardLeft {
    background-color: #fad2ee;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;

}
.aboutCardRight {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #fad2ee;
    font-size: 20px;
    text-align: center;
}


.aboutText {
    padding: 5px;
    font-size: 19px;
}

.aboutTextTwo {
    font-size: 17px;
    padding: 11px;
    text-align: left;
}


.resLink:hover {
    text-decoration: none;
  
}


.meImg {
    width: 100%;
    border-radius: 10px;
}

.resImg {
    width: 90%;
    border-radius: 10px;
}

.resImg:hover {
    opacity: 0.6;
}

.certImg {
    width: 100%;
    
}

.certImg:hover {
    opacity: 0.7;
}

.aboutContactBtn {
    background-color: #fad2ee;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    float: center;
    width: 100%;
    padding: 23px;
    font-size: 120%;
    margin-top: 10px;
}

.aboutContactBtn:hover {
   background-color: #d2ecfa;
   border-style: solid;
   border-width: 3px;
}
