
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
   background-image:url("https://i.imgur.com/jCLxrZa.jpg");
   background-image: 100px;
   background-size:cover;
  

    
}

.linksOne, .linksTwo, .linksThree {
    color: white;
    text-decoration: none;
    
}
.linksOne:hover, .linksTwo:hover, .linksThree:hover {
 opacity: 0.2;
    
}


.TITLEDash {
    text-align: center;
    color: black;
    font-size: 350%;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    
}

.SUBDash {
    text-align: center;
    color: black;
    font-size: 100%;
    font-weight: bold;
}

hr {
    border-width: 5px;
    border-color: black;
}

.btnArea {
    text-align: center;
    background-color: white;
  border-radius: 10px;
 width: 100%;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  text-transform: uppercase;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");

}
.dashBtn {
    background-color: #FAD2EE;
    border-color: #FAD2EE;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 100%;
   padding: 15px;
   margin-bottom: 10px;
 
}

.dashBtn:hover {
   background-color: #d2ecfa;
   border-color: white;
   color: white;
}


.test {
    color:blanchedalmond;
}

