
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
   background-image:url("https://i.imgur.com/jCLxrZa.jpg");
   background-image: 100px;
   background-size:cover;
}


.dashDiv {
    color: white;
    margin-top: 200px;
    font-size: 650%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.dashRowTwo {
    font-size: 50%;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Montserrat', sans-serif;
}

.learnButton {
    font-size: 20px;
    background-color: #436660;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.learnButton:hover {
    opacity: 0.7;
}

.learnText{
    color: white;
    margin-bottom: -2px;
}