.contactMain {
    background-color: white;
  
}

.contactCardLeft {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}



.formHeaders {
    font-size: 200%;
    color: #fad2ee;
}

.formBtn {
     background-color: #fad2ee;
     border-color: #fad2ee;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     float: center;
     width: 100%;
     padding: 15px;
     font-size: 200%;
}

.formBtn:hover {
    background-color: #d2ecfa;
    border-color: #d2ecfa;
}