@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.navUl {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #fad2ee;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .navLi {
    float: right;

  }
  
.NavBarLinks {
    margin: 5px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
  }
  
  /* Change the link color to #111 (black) on hover */
.NavBarLinks:hover {
   color: #d2ecfa;
   text-decoration: none;
   
  }



