

  .navDropdown {
    height: 80%;
    width: 10%;
    opacity: .5;
    float: right;
  }

  .burgerIcon {
    font-size: 200%;
    text-align: left;
    color: white;
    opacity: 10;
  }

  .dropdownItem{
    font-size: 30px;
  }









