.navbar {
  width: 100%;
}




.navNameText {
  font-size: 30px;
  margin-left: 25px;
}

.navLinks {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.navLinks:hover {
  font-style: italic;
}


