.footer {
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    overflow: hidden;
    background-color: black;
    margin-bottom: 10px;
    color: white;
    text-align: right;
    font-size: 250%;
    opacity: 0.5;
    width: 100%;
}

.footerLinks {
    color: white;
}