.portImg {
    width: 100%;
}
.portImgTwo {
    width: 98%;
}

.portImgTwoGrowth {
    width: 98%;
    max-height: 290px;
}
.portImgFour {
    width: 86%;
    margin: 22px;
    
}


.portCardLeft {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin-top: 10px;
}

